#maindiv{
  
  text-align:center;
}
#img_co{
  height: 250px;
  align-items: center;
}
img{
  border:solid red 20px;
}
#home{
  height:100%;
  width: 100%;
  color: white; 
  background-color: blue;
}