#maindiv{
  
  text-align:center;
}
#img_co{
  height: 360px;
  align-items: center;
}
img{
  border:solid red 3px
}
#home{
  height:100%;
  width: 100%;
  color: white; 
  background-color: blue;
}


#info{
  background-color: skyblue;
  height: 360px;
}