#maindiv{
  
  text-align:center;
}
#img_co{
  height: 250px;
  align-items: center;
}
img{
  border:solid red 5px
}
#home{
  height:100%;
  width: 100%;
  color: white; 
  background-color: blue;
}

#info{
  margin-top: 10px;
}